@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-200 text-gray-900;
}

@keyframes horizontal-track {
  from {
    left: -10%;
  }

  to {
    left: 100%;
  }
}

.header-grid-columns {
  grid-template-columns: 1fr minmax(0, 1280px) 1fr;
}

.animate-horizontal-track {
  animation: horizontal-track 1s linear infinite;
}

.tooltip-content {
  transform-origin: var(--radix-tooltip-content-transform-origin);
  animation: tooltip-scale-in 0.15s ease-out;
}

@keyframes tooltip-scale-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Chrome, Safari, Edge, Opera */
.number-input-wrapper > input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number-input-wrapper > input[type='number'] {
  -moz-appearance: textfield;
}
