@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-zinc-200 text-zinc-900;
}

@keyframes horizontal-track {
  from {
    left: -10%;
  }

  to {
    left: 100%;
  }
}

.animate-horizontal-track {
  animation: horizontal-track 1s linear infinite;
}

/* Chrome, Safari, Edge, Opera */
.number-input-wrapper > input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number-input-wrapper > input[type='number'] {
  -moz-appearance: textfield;
}
