@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-zinc-200 text-zinc-900;
}

@keyframes horizontal-track {
  from {
    left: -10%;
  }

  to {
    left: 100%;
  }
}

.animate-horizontal-track {
  animation: horizontal-track 1s linear infinite;
}